.home {
  background-image: url("../re/re7.jpg");
  background-color: #cccccc;
   height: 800px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}