.fuzzy-overlay {
  position: absolute;
  inset: -200%;
  background-image: url("../../../public/oldTelevisionGlitch.jpg");
  opacity: 30%;
  z-index: 0;
  animation: shift 0.2s linear infinite both;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}
