@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  position: absolute;
  background-image: url("../images/bg/ride-bg.jpeg");
  background-size: cover;
  background-position: center;
  inset: 0;
}
.bike-bg {
  position: absolute;
  background-image: url("../images/appRelated/bike-background2.jpeg");
  background-size: cover;
  background-position: center;
  inset: 0;
}
.parcel-bg {
  position: absolute;
  background-image: url("../images/parcel/woman-holding-parcel-box.jpg");
  background-size: cover;
  background-position: center;
  inset: 0;
}
.food-bg {
  position: absolute;
  background-image: url("../images/foodPage/women-holding-burger.jpg");
  background-size: cover;
  background-position: center;
  inset: 0;
}
.car-bg {
  position: absolute;
  background-image: url("../images/appRelated/women-infront-car.jpg");
  background-size: cover;
  background-position: center;
  inset: 0;
}

.menu-item {
  width: 200px;
  perspective: 2000px;
}

.sub-menu {
  position: absolute;
  top: 30px;
  padding: 10px;
  background-color: #fef9c3;
  border-radius: 6px;
  transform-origin: 50% -30px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
