@tailwind base;
@tailwind components;
@tailwind utilities;

/* .btn{
  @apply mx-10 my-10 inline-block ring ring-green-500 bg-green-400 ring-offset-2 rounded-full p-3 hover:bg-red-900 hover:transition-colors
} */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 background: #d88ebfe3;
}
/* @layer base{
h1{
    @apply font-bold
} 

 } */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.rounded{
  border-radius: 20%  !important;
}