@import "tailwindcss";
/* While using DarkMode Element you have to use the line below in css file */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: #4f46e5;
  --color-secondary: #f59e0b;
  --color-accent: #ec4899;
  --color-background: #f3f4f6;
  --color-text: #111827;

  --text-main: 29px;
}
