.app-container {
  display: flex;
  /* transition: 3s; */
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 700px;
}
.post-card {
  margin: 20px 50px;
  min-width: 30rem;
}
.hashtag {
  margin: 0 3px;
}
.reactions {
  margin: 15px 0 0 0;
  width: 100%;
}
.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 15px;
}
.welcome-message {
  margin: 100px 0px;
}
.spin {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px; */
  margin: 10% 0;
}
