* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  display: block;
  font-size: 17vw;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
  color: #f40046;
  position: fixed;
  top: -15vw;
  left: 50%;
  transform: translateX(-50%);
  line-height: 13vw;
  letter-spacing: -0.5rem;
}

/* .container {
  position: absolute;
  top: 0;
  z-index: 20;
  left: 0;
  right: 0;
  bottom: 0;
} */

.placeholder {
  width: 250px;
  height: 312px;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  mix-blend-mode: color;
  z-index: 1;
}

img {
  max-width: 100%;
  transform: translateZ(0);
}
