:root {
  --blur: 20px;
  --max: 870px;
  --min: 0px;
  --url: "https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=71fe1cccc16ab8dbd431de076c68802b";
}
.btn {
  width: 280px;
  height: 56px;
  flex-shrink: 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  &:before {
    content: "";
    padding: 100%;
    background: url("../../public/test1.jpeg") no-repeat;
    /* background: #003631; */
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
  }

  span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
  }

  &#btn-1 {
    &:before {
      transition: all 0.3s ease;
    }

    &:hover:before {
      -webkit-filter: blur(var(--blur));
      filter: blur(var(--blur));
    }
  }
}

/* From Uiverse.io by lenfear23 */
.btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  /* width: 100px;
  height: 30px; */
  background-image: linear-gradient(
    to top,
    #014d45 0%,
    #014d45 80%,
    #014d45 100%
  );
  border-radius: 30px;
  border: 0.5px solid #8f9291;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #8b8686;
  /* color: #606060; */
  /* text-shadow: 0 1px #fff; */
}

.btn2:hover {
  box-shadow: 0 4px 3px 1px #002e2a, 0 6px 8px #002e2a, 0 -4px 4px #002e2a,
    0 -6px 4px #002e2a, inset 0 0 3px 3px #002e2a;
}

.btn2:active {
  box-shadow: 0 4px 3px 1px #002e2a, 0 6px 8px #002e2a, 0 -4px 4px #002e2a,
    0 -6px 4px #002e2a, inset 0 0 5px 3px #002e2a, inset 0 0 30px #013732;
}

.btn2:focus {
  box-shadow: 0 4px 3px 1px #014d45, 0 6px 8px #014d45, 0 -4px 4px #014d45,
    0 -6px 4px #014d45, inset 0 0 5px 3px #014d45, inset 0 0 30px #024740;
}
