.calculator {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 15px;
  width: 200px;
  background: yellow;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
