@import "tailwindcss";
.feet {
  z-index: 1;
  background-image: url("./assets/feet/clean-feet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.foot-nail {
  z-index: 1;
  background-image: url("./assets/foot-nail//nail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left1bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left2bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left3bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left4bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left5bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.left6bg {
  z-index: 1;
  background-image: url("./assets/foot/foot-6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nailShapes {
  z-index: 1;
  background-image: url("./assets/foot-nail/nail-shapes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
